form-control1 {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.offset-0 {
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px 
}

table td {
    border-top: none !important;
}



sr-only1 {
  position: absolute;
  width: 1px;
  height: 50px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-signin1 {
  max-width: 30%;
  padding: 15px;
  margin: 0 auto;
  margin-left: 0px;
  margin-top: 0px;
}


.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}


.form-signin2 {
 position: relative;
  max-width: 20%;
  padding: 15px;
  margin: 0 auto;
  margin-left: 70%;
  margin-top: -13%;
}


.form-signin3 {
  max-width: 30%;
  padding: 15px;
  margin: 0 auto;
  margin-left: 800px;
  margin-top: -16.3%;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: gray; //blue; //#4CAF50;
}





.dropbtn {
    background-color: #6666ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-right:1px solid black;
    border-bottom:1px solid black;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.dropdown1 {
    background-color: #6666ff;
    color: blue;
    padding: 28px 490px;
    border: none;
}




